body {
    margin: 10px;
}

p {color: orange}

/* .product{  
} */

/* selector using the attribute
a[target] {
    color: red;
}

/* selector by key attribute + its value (more precise) */
a[target="_blank"] {
    text-decoration: wavy;
    color: grey;
}

a[href="https://google.com"] {
    color:orange;
}

/* "href*" : INCLUDES "google" (ex: https://google.com) */
a [href*="google"] {
    color: green;
}

/* "href*" : STARTS BY "https" (ex: https://google.com) */
a [href^="https"] {
    color: green;
}

/* "href$" : ENDS BY "https" (ex: https://google.com) */
a [href$="https"] {
    color: green;
}

/* "href^" : STARTS BY "https" AND ENDS BY ".com" (ex: https://google.com) */
a[href^="https"][href$=".com"] {
    background-color: pink;
}